.section.section_banner
    .container
        .banner
            .banner__title.title БУДЬТЕ В КУРСЕ ПОСЛЕДНИХ НОВОСТЕЙ,<br> ПОДПИСЫВАЙТЕСЬ НА ОФИЦИАЛЬНЫЕ СООБЩЕСТВА IQOS
            .banner__social.social
                .social__title ПОДПИСАТЬСЯ:
                .social__box 
                    a(href="").social__link 
                        +svg({
                            name: 'inst'
                        })
                    a(href="").social__link
                        +svg({
                            name: 'vk'
                        })