.section.section_score
    .container
        .score
            .score__title.title НОВЫЕ ВОЗМОЖНОСТИ потратить баллы. СКОРО
            ul.score__list
                li.score__item
                    .score__card.score-card
                        .score-card__name Меняйте мир <br> к лучшему 
                        .score-card__img
                            img(src="img/score-1.jpg", alt="")
                        .score-card__text  Потратьте ваши баллы IQOS CLUB на то, чтобы изменить мир к лучшему – участвуйте в благотворительных проектах.
                li.score__item
                    .score__card.score-card
                        .score-card__name Начните <br>изменения c себя
                        .score-card__img
                            img(src="img/score-2.jpg", alt="")
                        .score-card__text  За ваши баллы IQOS CLUB вы можете научиться новому, прокачать свои навыки и попробовать сделать что-то необыкновенное.
            .score__link 
                span СКОЛЬКО У МЕНЯ БАЛЛОВ?