.section.section_question
    .container
        .question
            .question__title Остались вопросы?
            .question__subtitle Выберите категорию вопроса:
            ul.question__list
                li.question__item.js-question
                    .question__name Я слышал, что IQOS CLUB будет меняться. Что это значит?
                    .question__answer Мы услышали желание пользователей потратить свои баллы IQOS CLUB и для этого запустили в ноябре конкурсы «Баллы на удачу» и «Аукцион впечатлений». Но это еще не все! Следите за новостями, чтобы быть в курсе и ничего не пропустить. 
                    .question__arrow
                        +svg({
                            name: 'question-arrow'
                        })
                li.question__item.js-question
                    .question__name Что будет с моим уровнем лояльности?
                    .question__answer Мы услышали желание пользователей потратить свои баллы IQOS CLUB и для этого запустили в ноябре конкурсы «Баллы на удачу» и «Аукцион впечатлений». Но это еще не все! Следите за новостями, чтобы быть в курсе и ничего не пропустить. 
                    .question__arrow
                        +svg({
                            name: 'question-arrow'
                        })
                li.question__item.js-question
                    .question__name Что будет с моими накопленными баллами?
                    .question__answer Мы услышали желание пользователей потратить свои баллы IQOS CLUB и для этого запустили в ноябре конкурсы «Баллы на удачу» и «Аукцион впечатлений». Но это еще не все! Следите за новостями, чтобы быть в курсе и ничего не пропустить. 
                    .question__arrow
                        +svg({
                            name: 'question-arrow'
                        })
                li.question__item
                    .question__name Почему вы это делаете?
                    .question__answer Мы услышали желание пользователей потратить свои баллы IQOS CLUB и для этого запустили в ноябре конкурсы «Баллы на удачу» и «Аукцион впечатлений». Но это еще не все! Следите за новостями, чтобы быть в курсе и ничего не пропустить. 
                    .question__arrow
                        +svg({
                            name: 'question-arrow'
                        })
                li.question__item
                    .question__name Что будет с моими привилегиями?
                    .question__answer Мы услышали желание пользователей потратить свои баллы IQOS CLUB и для этого запустили в ноябре конкурсы «Баллы на удачу» и «Аукцион впечатлений». Но это еще не все! Следите за новостями, чтобы быть в курсе и ничего не пропустить. 
                    .question__arrow
                        +svg({
                            name: 'question-arrow'
                        })
                li.question__item
                    .question__name Мои ваучеры тоже сгорят?
                    .question__answer Мы услышали желание пользователей потратить свои баллы IQOS CLUB и для этого запустили в ноябре конкурсы «Баллы на удачу» и «Аукцион впечатлений». Но это еще не все! Следите за новостями, чтобы быть в курсе и ничего не пропустить. 
                    .question__arrow
                        +svg({
                            name: 'question-arrow'
                        })