.section.section_info
    .container
        .info
            .info__title.title IQOS CLUB МЕНЯЕТСЯ
            .info__text Недавно у вас была возможность использовать свои баллы IQOS CLUB в конкурсах «Баллы на удачу» и «Аукцион впечатлений» 
            .info__text И это только начало!<br> Скоро откроется еще больше возможностей использовать ваши баллы, чтобы они не пропали.