.section.section_preview
    .container
        .preview
            .preview__logo 
                img(src="img/logo.png", alt="")
            .preview__title.title_xl Баллы на финишной прямой
            .preview__text Тратьте ваши баллы IQOS CLUB на высокие цели
            .preview__more.js-scroll
                span Узнать больше
                span 
                    +svg({
                        name: 'arrow-down'
                    })